<template>
  <component
    :is="BUTTON_TYPES[type]"
    :alt="type === 'link' ? alt : undefined"
    :href="type === 'link' && href ? href : undefined"
    :rel="type === 'link' && href?.includes('http') ? 'noopener, nofollow' : undefined"
    :target="type === 'link' && href?.includes('http') ? '_blank' : undefined"
    class="tw-inline-flex tw-cursor-pointer"
    :class="[
      ...(border
        ? ['tw-border', 'tw-border-hb-blue-primary', 'tw-px-4', 'tw-py-1', 'tw-inline-flex',
           'hover:tw-text-white','focus:tw-text-white','hover:tw-bg-hb-blue-primary','focus:tw-bg-hb-blue-primary']
        : ['hover:tw-text-blue-500','focus:tw-text-blue-600',]),

      ...(cssClasses
        ? [...cssClasses]
        : []),

      BUTTON_ALIGN[align]
    ]"
    data-testid="ButtonDefault"
    tabindex="0"
  >
    <span
      class="tw-block tw-truncate"
      :class="[
        ...(uppercase
          ? ['tw-uppercase']
          : []
        )
      ]"
      data-testid="ButtonDefault--Inner"
    >
      <slot />
    </span>
  </component>
</template>

<script>
import {
  BUTTON_ALIGN,
  BUTTON_TYPES,
} from '@/components/button/constants';

export default {
  name: 'ButtonDefault',
  props: {
    align: {
      default: 'center',
      validator: (value) => Object.keys(BUTTON_ALIGN).includes(value),
    },
    alt: {
      default: undefined,
      type: String,
    },
    border: {
      default: false,
      type: Boolean,
    },
    cssClasses: {
      default: () => [],
      type: Array,
    },
    href: {
      default: undefined,
      type: String,
    },
    type: {
      default: 'button',
      validator: (value) => Object.keys(BUTTON_TYPES).includes(value),
    },
    uppercase: {
      default: false,
      type: Boolean,
    },
  },

  data() {
    return {
      BUTTON_ALIGN,
      BUTTON_TYPES,
    };
  },
};
</script>
